[submodule "git"]
	path = git
	url = https://github.com/CSWomenUMass/git
[submodule "unix"]
	path = unix
	url = git@github.com:CSWomenUMass/unix.git
[submodule "bootcamp"]
	path = bootcamp
	url = git@github.com:CSWomenUMass/bootcamp.git
